.topdivs{
  opacity: .85 !important;
  margin-top: 5em;
}

#topText{
  font-family: 'Audiowide', cursive;
  margin: 1em 2em .3em 1em;
}
#topText2{
  font-family: 'Audiowide', cursive;
  margin: .3em 1em .1em 2em;
}
#topText3{
  font-family: 'Audiowide', cursive;
  margin: .3em 1em .1em 3em;
}

hr{
  color: #1ed8ed;
  opacity: .9 !important;
  width: 80%;
}

.bg-light{
  opacity: .80;
}

#helloText1,#helloText2, #helloText3, #helloText4, #helloText5,
#helloText6, #helloText7, #helloText8{
  opacity:0;
  font-size: .9em;
}

#helloText1{
  animation-name: ht1;
  animation-duration: 4s;
  animation-fill-mode: forwards;
  animation-delay: 1s;
}

@keyframes ht1 {
  0% {opacity: 0;}
  100% {opacity: .8;}
}

#helloText2{
  animation-name: ht2;
  animation-duration: 4s;
  animation-fill-mode: forwards;
  animation-delay: 2s;
}

@keyframes ht2 {
  0% {opacity: 0;}
  100% {opacity: .8;}
}

#helloText3{
  animation-name: ht2;
  animation-duration: 4s;
  animation-fill-mode: forwards;
  animation-delay: 3s;
}

@keyframes ht3 {
  0% {opacity: 0;}
  100% {opacity: .8;}
}

#helloText4{
  animation-name: ht4;
  animation-duration: 4s;
  animation-fill-mode: forwards;
  animation-delay: 4s;
}

@keyframes ht4 {
  0% {opacity: 0;}
  100% {opacity: .8;}
}

#helloText5{
  animation-name: ht5;
  animation-duration: 4s;
  animation-fill-mode: forwards;
  animation-delay: 5s;
}

@keyframes ht5{
  0% {opacity: 0;}
  100% {opacity: .8;}
}

#helloText6{
  animation-name: ht6;
  animation-duration: 4s;
  animation-fill-mode: forwards;
  animation-delay: 6.5s;
}

@keyframes ht6{
  0% {opacity: 0;}
  100% {opacity: .8;}
}

#helloText7{
  animation-name: ht7;
  animation-duration: 4s;
  animation-fill-mode: forwards;
  animation-delay: 7.5s;
}

@keyframes ht7{
  0% {opacity: 0;}
  100% {opacity: .8;}
}


#profileImg:hover{
  cursor: default;
    animation-name: pic-animation;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-delay: 1s;
  }

  @keyframes pic-animation{
    0% {opacity: .8;}
    50% {opacity: .1;}
    100% {opacity: .8;}
  }

.projects{
  font-family: 'Share', cursive;
}

.projectimg:hover{
  box-shadow: 10px 7px 7px #54497c;
}

.footer{
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 1px;
}

.footerdiv{
  background-color: #999999;
  padding: .3em;
  margin-top: 2.1em;
  height: auto;
  color: black;
  opacity: .7;
  font-family: 'Share', cursive;
  font-size: 1.2em;
}

.p-text{font-size: 1.2em;}
h1{font-size: 1.7em;}
h2{font-size: 1.5em;}
