body{
  background: linear-gradient(to bottom right, #6d6d6d,#bababa, #ededed,#ffffff,#ffffff);
}

.bgImage{
  background-image: url(images/bg.jpeg);

}

#topText{
  font-family: 'Permanent Marker', cursive;
  -webkit-animation-name: topTextAnimation;
  -webkit-animation-duration: 6s;
  animation-name: topTextAnimation;
  animation-duration: 6s;
  animation-iteration-count: 50;
  font-size: 1.3em;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes topTextAnimation {
    0%   {color: #ed9e00;}
    25%  {color: #ffc518;}
    50%  {color: #ffdc18;}
    100% {color: #ed9e00;}
}

/* Standard syntax */
@keyframes topTextAnimation {
  0%   {color: #ed9e00;}
  25%  {color: #ffc518;}
  50%  {color: #ffdc18;}
  100% {color: #ed9e00;}
}

#topImage {
  cursor: default; /*default is the arrow*/
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 1200px;
}

.nav-item{
  margin-right: 40px;
}

#welcomePic{
  padding-top: 6em;
}

.aboutSection , .projects, .skills{
  padding: 2em;
  margin-top: 2em;
  margin-bottom: 1.5em;
}

.card-deck{
  margin-top: 2em;
}

.card{
  padding:6px;
}

#contactText{
  padding: 1.4em;
}

.contactIcons{
  margin-left: .7em;
}

.skillz{
  margin: 3.3em 1em 4em 2em;
}

.project-container{
  margin-bottom: 5em;
}

.contactIcons{
  margin: 0.2em 1em 4em 2em;
}

footer{
  color:white;
}
